@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var projects = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "projectsPage") ?? null;

    var servicesBannerBackground = settings?.Value<IPublishedContent>("servicesBannerBackground")?.Url() ?? "";     
    var servicesBannerLinkText1 = settings?.Value<string>("servicesBannerLinkText1") ?? "";  
    var servicesBannerLink1 = settings?.Value<string>("servicesBannerLink1") ?? "";    

    var ourProjectsProject1Image = projects?.Value<IPublishedContent>("ourProjectsProject1Image")?.Url() ?? "";
    var ourProjectsProject2Image = projects?.Value<IPublishedContent>("ourProjectsProject2Image")?.Url() ?? "";
    var ourProjectsProject3Image = projects?.Value<IPublishedContent>("ourProjectsProject3Image")?.Url() ?? "";
    var ourProjectsProject4Image = projects?.Value<IPublishedContent>("ourProjectsProject4Image")?.Url() ?? "";

    var ourProjectsProject1Link = projects?.Value<string>("ourProjectsProject1Link") ?? "";
    var ourProjectsProject1Headline = projects?.Value<string>("ourProjectsProject1Headline") ?? "";
    var ourProjectsProject1Date = projects?.Value<string>("ourProjectsProject1Date") ?? "";

    var ourProjectsProject2Link = projects?.Value<string>("ourProjectsProject2Link") ?? "";
    var ourProjectsProject2Headline = projects?.Value<string>("ourProjectsProject2Headline") ?? "";
    var ourProjectsProject2Date = projects?.Value<string>("ourProjectsProject2Date") ?? "";

    var ourProjectsProject3Link = projects?.Value<string>("ourProjectsProject3Link") ?? "";
    var ourProjectsProject3Headline = projects?.Value<string>("ourProjectsProject3Headline") ?? "";
    var ourProjectsProject3Date = projects?.Value<string>("ourProjectsProject3Date") ?? "";

    var ourProjectsProject4Link = projects?.Value<string>("ourProjectsProject4Link") ?? "";
    var ourProjectsProject4Headline = projects?.Value<string>("ourProjectsProject4Headline") ?? "";
    var ourProjectsProject4Date = projects?.Value<string>("ourProjectsProject4Date") ?? "";

    var projectImage0 = Model?.Value<IPublishedContent>("projectImage0")?.Url() ?? "";
    var projectImage1 = Model?.Value<IPublishedContent>("projectImage1")?.Url() ?? "";
    var projectImage2 = Model?.Value<IPublishedContent>("projectImage2")?.Url() ?? "";

}


<section id="contact" class="banner bg-gray">
    <div class="background"> 
        <img src="@servicesBannerBackground" alt="Backround image">
        <div class="content">
            <h2>@Model.Value("projectBanerHeadline")</h2>
            <div class="links">
                <a class="home" href="@servicesBannerLink1">@servicesBannerLinkText1</a>
                    <div class="chevron"><i class="fa-regular fa-chevron-right"></i></div>
                <a class="activ" href="@Model?.Value("projectBannerText2")">@Model?.Value("projectBannerLinkText2")</a>
            </div>
        </div>
    </div>
</section>


<section id="project-details">
    <div class="container">
        <div class="project">
            <p class="date"><i class="fa-regular fa-calendar-days"></i>@Model.Value("projectDate")</p>
            <h6>@Model.Value("projectStartText")</h6>
            <div class="image">
                <img src="@projectImage0" alt="Image of @ourProjectsProject1Headline">
            </div>
            
            @Model.Value("projectText1")

            <div class="image-text">
                <div class="image-smal">
                    <img src="@projectImage1" alt="Image of @ourProjectsProject1Headline">
                </div>
                <div class="text">
                    @Model.Value("projectText2")
                </div>
            </div>

            @Model.Value("projectText3")

            <div class="image">
                <img src="@projectImage2" alt="Image of @ourProjectsProject1Headline">
            </div>

            @Model.Value("projectText4")

            <div class="tags">
                <h4>Tags</h4>
                <a href="#" class="tag">Business</a>
                <a href="#" class="tag">Consulting</a>
                <a href="#" class="tag">Onatrix</a>
            </div>
        </div>



        <div class="nav-content">
            <div class="recent-projects">
                <div class="recent-projects-content">
                    <h4>Recent projects</h4>

                    <a href="@ourProjectsProject1Link">
                        <div class="image">
                            <img src="@ourProjectsProject1Image" alt="">
                        </div>
                        <div class="text">
                            <h6>@ourProjectsProject1Headline</h6>
                            <p class="date"><i class="fa-regular fa-calendar-days"></i> @ourProjectsProject1Date</p>
                        </div>
                    </a>

                    <a href="@ourProjectsProject2Link">
                        <div class="image">
                            <img src="@ourProjectsProject2Image" alt="">
                        </div>
                        <div class="text">
                            <h6>@ourProjectsProject2Headline</h6>
                            <p class="date"><i class="fa-regular fa-calendar-days"></i> @ourProjectsProject2Date</p>
                        </div>
                    </a>

                    <a href="@ourProjectsProject3Link">
                        <div class="image">
                            <img src="@ourProjectsProject3Image" alt="">
                        </div>
                        <div class="text">
                            <h6>@ourProjectsProject3Headline</h6>
                            <p class="date"><i class="fa-regular fa-calendar-days"></i> @ourProjectsProject3Date</p>
                        </div>
                    </a>

                    <a href="@ourProjectsProject4Link">
                        <div class="image">
                            <img src="@ourProjectsProject4Image" alt="">
                        </div>
                        <div class="text">
                            <h6>@ourProjectsProject4Headline</h6>
                            <p class="date"><i class="fa-regular fa-calendar-days"></i> @ourProjectsProject4Date</p>
                        </div>
                    </a>
                    
                </div>
            </div>
            <div class="tags">
                @await Html.PartialAsync("partials/static/tags.cshtml")     
            </div>

            
            @await Html.PartialAsync("partials/static/we-help.cshtml")
           

        </div>
    </div>
    
</section>





@await Html.PartialAsync("partials/static/next-project.cshtml")